* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

a {
    color: aqua;
}

html, body {
    background-color: black;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    user-select: none;
    counter-reset: menucounter;
}

.menu-item {
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
}


.menu-item::before {
    counter-increment: menucounter;
    content: counters(menucounter, '.', decimal-leading-zero);
    position: absolute;
    left: -15px;
    top: 0;
    font-size: 10px;
}

.menu-item-text {
    pointer-events: none;
    display: block;
    line-height: 1;
    position: relative;
    font-size: 1rem;
}

.menu-item > div:nth-child(1) span {
    will-change: transform;
    transform-style: preserve-3d;
    transition: 0.5s;
    transition-delay: calc(0.05s * var(--index));
    transform-origin: bottom;
    display: inline-block;
}

.menu-item > div:nth-child(2) span {
    will-change: transform;
    transform-style: preserve-3d;
    transition: 0.5s;
    transition-delay: calc(0.05s * var(--index));
    transform-origin: top;
    display: inline-block;
    transform: translate3d(0, 100%, 0) rotateX(-90deg);
}

.menu-item:hover > div:nth-child(1) span {
    transform: translate3d(0, -100%, 0) rotateX(-90deg);
}

.menu-item:hover > div:nth-child(2) span {
    transform: translate3d(0, 0%, 0) rotateX(0deg);
    color: black;
    /* background: white; */
}

span {
    font-size: 2rem;
}