.main {
    height: 100vh;


    .body, .mask {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        color: #afa18f;
        font-size: 4rem;
        line-height: 66px;
        cursor: default;

        span {
            color: #ec4e39;
        }

        p {
            width: 700px;
        }
    }

    .mask {
        position: absolute;
        mask-image: url('../../public/blob.svg');
        background: #ec4e39;
        mask-repeat: no-repeat;
        mask-size: 40px;
        color: black;
    }
    
    
}